.function-body {
	margin: 0 auto;
	width: 700rpx;
	margin-top: 40rpx;
	margin-bottom: 40rpx;
}

.title{
	display: block;
	height: 50rpx;
	color: #1E6CB5;
	font-size: 28rpx;
	line-height: 50rpx;
    margin-top: 40rpx;
    margin-bottom: 20rpx;
}
.title-sort{
	height: 50rpx;
	width: 110rpx;
	float: right;
	background-color: #D5E3EF;
	border-radius: 10rpx;
	
    color: #4F73A5;
	position: relative;
	/* text-align: center; */
}
.triangle_active{
	fill:#ff00ff;
}

.springText{
	font-size: 28rpx;
	padding-left: 18rpx;
	line-height: 50rpx;
}
.springBoxDown{
	line-height: 45rpx;
	font-size: 28rpx;
	position: absolute;
	padding-left: 5rpx;
}
.springBoxUp{
	line-height: 45rpx;
	font-size: 26rpx;
	position: absolute;
	padding-left: 5rpx;
}
.modal-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 90;
}

.arrivalNavigation {
	width: 250rpx;
	position: relative;
	left: 500rpx;
	top: 60rpx;
	z-index: 99;
}
.arrivalNavigation .sideNavigation {
	width: 200rpx;
	background-color: #e8f0ff;
    filter: opacity(90%);
	color: #eee;
	border-radius: 10rpx;
}
.sideNavigation .liBottomBorder {
	border: 0.1rpx solid #b6b6b6;
}
.sideNavigation .navigatorStyle {
	height: 85rpx;
	text-align: center;
	line-height: 85rpx;
	font-size: 28rpx;
	color: #4F73A5;
	position: relative;
}
.springBoxUpDown{
	font-size: 50rpx;
	position: absolute;
	right: 15rpx;
}

.goods-item{
    margin-top: 22rpx;
    width: 100%;
    height: 270rpx;
    margin-top: 22rpx;
    border: 2rpx solid #006fff;
    border-radius: 20rpx;
    box-shadow: 0 3rpx 10rpx rgb(200,200,200) inset,0 3rpx 10rpx rgb(200,200,200);
    display: block;
    position: relative;
}
.item-img{
    position: absolute;
	display: block;
    margin-left: 22rpx;
    margin-top: 22rpx;
	/* top: 50%;
	transform: translate(0, -50%); */
}
.item-pic{
	display: block;
    width: 200rpx;
    height: 215rpx;
    border-radius: 10rpx;
    box-shadow: 0rpx 6rpx 10rpx #000;
}


.item-block{
    box-sizing: border-box;
    padding-top: 30rpx;
    margin-left: 280rpx;
}
.item-detail{
    /* padding-right: 48rpx; */
    letter-spacing: 2rpx;
}
.item-detail .item-title{
	/* 多出部分以"..."代替 */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	
    display: block;
    line-height: 70rpx;
	height: 70rpx;
    font-size: 34rpx;
    color: #4F73A5;
}
.item-detail .item-date{
    display: block;
    line-height: 24rpx;
	height: 30rpx;
	overflow: hidden;
    font-size: 24rpx;
    padding-top: 10rpx;
    color: rgb(142, 142, 142);
}
.item-detail .item-payment{
    display: block;
    line-height: 24rpx;
	height: 40rpx;
	overflow: hidden;
    font-size: 24rpx;
    padding-top: 10rpx;
    color: rgb(142, 142, 142);
}
.item-tags{
	display: inline-block;
	clear: right;
	background-color: #cfe1f4;
	margin-right: 15rpx;
	border-radius: 10rpx;
	height: 45rpx;
	width: 120rpx;
    line-height: 45rpx;
    font-size: 24rpx;
	text-align: center;
	overflow: hidden;
	color: #0069D6;
}

.icon-springDown{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6'%3E %3Cpath id='多边形_0' data-name='多边形 0' d='M5,0l5,6H0Z' transform='translate(10 6) rotate(180)' fill='%234F73A5'/%3E %3C/svg%3E");
	background-size: cover;
	display: inline-block;
	width: 20rpx;
	height: 12rpx;
}

.icon-springUp{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6'%3E %3Cpath id='多边形_1' data-name='多边形 1' d='M5,0l5,6H0Z' fill='%234f73a5'/%3E %3C/svg%3E");
	background-size: cover;
	display: inline-block;
	width: 20rpx;
	height: 12rpx;
}

.icon-springDownUp-box{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.icon-springDownUp1{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='25' viewBox='0 0 10 25'%3E %3Cpath d='M5,0l5,6H0Z' transform='translate(0,8)' fill='%234f73a5'/%3E %3Cpath :class='%7Btriangle_active:sortIndex1[1]==2%7D' data-name='多边形 5' d='M5,0l5,6H0Z' transform='translate(10,25) rotate(180)' fill='%234F73A5'/%3E %3C/svg%3E");
	background-size: cover;
	display: inline-block;
	width: 20rpx;
	height: 12rpx;
}